version: '3.8'

services:

  app:
    image: talkto-app
    build: .
    ports:
      - "8081:8080"
    environment:
      TALKTO_DB_URL: jdbc:postgresql://db:5432/talkto
      TALKTO_DB_USERNAME: talkto
      TALKTO_DB_PASSWORD: talkto
    depends_on:
      - db

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
    depends_on:
      - prometheus

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-storage:/prometheus

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    ports:
      - "8088:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: talkto
      POSTGRES_USER: talkto
      POSTGRES_PASSWORD: talkto
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  k6:
    image: grafana/k6
    volumes:
      - ./load-testing/k6:/scripts
    command: run /scripts/stress/read.stress.js
    depends_on:
      - app

volumes:
  grafana-storage:
  prometheus-storage:
  postgres-data: